.mcmc-linechart {
  position: relative;
  height: 100%;

  &__legend {
    text-align: center;

    &__item {
      display: inline-flex;
      gap: 8px;
      margin: 21px 16px 0 0;
    }

    &__icon {
      display: inline-block;
      border-radius: 10px;
      width: 10px;
      height: 10px;
      background-color: var(--black);
    }

    &__value {
      font-weight: 300;
      font-size: 12px;
      line-height: 12px;
    }
  }

  &__tooltip {
    position: absolute;
    top: 0;
    border-radius: 4px;
    padding: 10px;
    background-color: var(--jet);
    opacity: 0;
    z-index: 2;

    &::after {
      content: "";
      position: absolute;
      bottom: -3.5px;
      left: 50%;
      border-left: 4.5px solid transparent;
      border-right: 4.5px solid transparent;
      border-top: 7px solid var(--jet);
      transform: translate(-50%, 50%);
    }

    &__label, &__name, &__value {
      font-weight: 500;
      font-size: 12px;
      line-height: 12px;
    }

    &__item {
      display: flex;
      margin-top: 6px;
    }

    &__name, &__value {
      font-weight: 300;
    }

    &__name {
      margin-right: 8px;
      min-width: 79px;
    }
  }
}