.mcmc-profile {
  display: flex;
  align-items: center;
  gap: 82px;
  padding-top: 59px;

  &__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__detail {
    &__name {
      display: inline-block;
      margin-right: 16px;
      min-width: 123px;
      font-weight: 300;
      font-size: 22px;
      line-height: 24px;
    }

    &__value {
      display: inline-block;
      font-weight: 600;
      font-size: 22px;
      line-height: 24px;
      letter-spacing: 1.1px;
    }
  }
}