.mcmc-table {
  width: 100%;

  & th, td {
    font-size: 18px;
    line-height: 24px;
  }

  & .mcmc-thead {
    border: 2px solid var(--blue-cyan);
    text-align: left;
    
    &__cell {
      padding: 7px 8px;
      font-weight: 600;
      
      &__content {
        display: flex;
        align-items: center;
        gap: 32px;
      }
    }
  }

  & .mcmc-tbody {
    &__row {
      &:nth-child(odd) {
        background-color: var(--color-jet);
      }
    }

    &__cell {
      padding: 9px 8px;
      font-weight: 300;
    }
  }
}