.mcmc-login {
  padding-top: 34px;

  & .mcmc-back-arrow {
    top: 127px;
    left: 226px;
  }

  &__logo-area {
    text-align: center;

    & .mcmc-desc {
      margin-top: 16px;
      font-size: 22px;
    }
  }

  &__form-area {
    & .mcmc-i-box {
      margin-top: 20px;
    }
  }

  &__option-area {
    margin-top: 20px;
    text-align: center;

    & .mcmc-auth-btn {
      display: inline-block;
      margin-bottom: 10px;
    }

    & .mcmc-quest {
      margin-top: 10px;
    }
  }
}