.mcmc-pagination {
  display: flex;
  align-items: center;
  gap: 8px;

  &__page {
    border-radius: 8px;
    width: 24px;
    height: 24px;
    text-align: center;

    &.selected {
      background-color: var(--blue-cyan);

      & a {
        font-weight: 700;
        color: var(--white);
      }
    }

    & a {
      font-family: 'Lato', sans-serif;
      font-size: 14px;
      line-height: 16px;
      color: var(--blue-cyan);
    }
  }

  & .previous {
    margin-right: 9px;
  }

  & .next {
    margin-left: 9px;
  }

  & .disabled {
    cursor: default;
    pointer-events: none;
  }
}