:root {
  --white: #ffffff;
  --gray-light: #F6F6F6;
  --gray-medium: #D4D4D4;
  --gray-light-silver: #D9D9D9;
  --gray-dark: #A0A0A0;
  --silver-chalice: #ACACAC;
  --silver-foil: #AEAEAE;
  --gray-spanish: hsl(0, 0%, 58%);
  --outer-space: #444343;
  --black-olive: #3A3A3A;
  --color-jet: #343434;
  --jet: #363636;
  --charleston-green: #2b2b2b;
  --raisin-black: #242424;
  --eerie-black: #1e1e1e;
  --black: #000000;
  --blue-cyan: #02B3F0;
}